@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background: white;
  font-family: "Source Sans Pro", sans-serif;
}

body.dark-theme {
  color: white;
  background: #282c34;
  animation-duration: 15s;
}

.title {
  font-size: 20pt;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.data {
  text-align: center;
  width: 250px;
  font-size: 15pt;
  background-color: darkred;
  color: white;
  border-radius: 25px;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
}

.dataWrapper {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

.charts {
  margin: 0 auto;
  padding: 20px;
  width: 850px;
  height: 550px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: darkred;
  color: white;
}

footer div {
  padding: 5px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer .downLinks {
  text-align: right;
  background-color: darkred;
  padding: 10px;
  color: white;
  word-spacing: 10px;
}

.select {
  display: flex;
  justify-content: center;
}

label {
  font-size: 15pt;
  display: flex;
  justify-content: center;
  padding: 5px;
}

select {
  font-size: 15px;
  border-radius: 25px;
  padding: 5px;
}

#load-animation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

#load-animation .text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0 0 -16px;
  color: #fff;
  transform: translate(-50%, -50%);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 50px;
}

#rNumber {
  text-align: center;
  font-size: 17pt;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 1230px) {
  .data {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  .data {
    width: 150px;
    font-size: 17pt;
  }

  .title {
    font-size: 20pt;
  }

  h1 {
    font-size: 30pt;
  }
}

@media (max-width: 991px) {
  .data {
    width: 150px;
    text-align: center;
  }

  .charts {
    width: 650px;
    height: 450px;
  }
}

@media (max-width: 875px) {
  .data {
    width: 125px;
    text-align: center;
  }

  .charts {
    width: 550px;
    height: 350px;
  }
}

@media (max-width: 805px) {
  .data {
    width: 125px;
    text-align: center;
  }

  .charts {
    width: 550px;
    height: 350px;
  }

  .dataWrapper {
    margin: 0px auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 645px) {
  .data {
    width: 150px;
    text-align: center;
  }

  .charts {
    width: 550px;
    height: 350px;
  }

  .dataWrapper {
    margin: 0px auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 625px) {
  .data {
    width: 150px;
    text-align: center;
  }

  .charts {
    width: 450px;
    height: 300px;
  }

  .dataWrapper {
    margin: 0px auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 530px) {
  .data {
    width: 150px;
    text-align: center;
  }

  .title {
    font-size: 15pt;
  }

  h1 {
    font-size: 20pt;
  }

  .charts {
    width: 350px;
    height: 300px;
  }

  .dataWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  .data {
    width: 150px;
    text-align: center;
  }

  .title {
    font-size: 15pt;
  }

  h1 {
    font-size: 20pt;
  }

  .charts {
    width: 300px;
    height: 250px;
  }

  .dataWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
